* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: orange;
    padding: 15px 15px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 100px;
}

footer {
    background-color: black;

}

/*classi di layout*/
.container {
    max-width: 1200px;
    margin: 0 auto;
  
   
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col-33 {
   
    margin: 10px;
    width: calc(100% / 3 - 20px);
   
}
   
.col-100 {
    height: 100px;
    width: 100%
    
}

.content {
 position: relative;  
}
.content img {
    width: 100%;
}

/*classe di utility*/
.align-item {
    align-items: center;
}
.width {
    width: 100%;
}

.unlisted-list {
    list-style: none;
}

.unlisted-list li {
    display: inline-block;
   padding: 0 15px;
}

.unlisted-list a {

    color: #fff;
        text-decoration: none;
}

.unlisted-list span {

    color: #fff;
    
}

.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.py-10 {
    padding: 10px 0;
}

.text-center {
    text-align: center;

}

.discount-label {
    position: absolute;
    bottom: 100px;
    color: #fff;

}
.sustainability-label {
position: absolute;
bottom: 100px;
left: 40px;
color: #fff;
}
.label-left {
    position: absolute;
    bottom: 100px;
    color: #fff;
}

.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.red-heart {
    position: absolute;
    top: 10px;
   right: 0;
   width: 35px;
   text-align: center;
    background-color: white;
    display: none;
}
.content:hover .red-heart {
    display: block;
    color: red;
}

.hover-image {
    display: none;
    
}
.content:hover .main-image {
    display: none;
}
.content:hover .hover-image {
    display: block;
}

h2 {
    text-transform: uppercase;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    color: red;
}

.old-price {
    text-decoration: line-through;
    position: absolute;
    bottom: 0px;
    left: 60px;
}

.dflex {
    display: flex;
}
 
.justify-content-between {
    justify-content: space-between;
}

h3 {
    color: #fff
}

.footer-list li {
    color: #fff;
    list-style: none;
    display: inline-block
}
    
.margin {
    margin: 10px 5px 10px 5px;
}
/*fine classi di utility*/