* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: orange;
    padding: 15px 15px;
    z-index: 1;
}

main {
    padding-top: 100px;
    background-color: blue;
    height: 500px;
}

footer {
    background-color: green;

}

/*classi di layout*/
.container {
    max-width: 1200px;
    margin: 0 auto;
  
   
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.col-33 {
   
    margin: 10px;
    width: calc(100% / 3 - 20px);
   
}
   
.col-100 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

/*classe di utility*/
.align-item {
    align-items: center;
}
.width {
    width: 100%;
}

.unlisted-list {
    list-style: none;
}

.unlisted-list li {
    display: inline-block;
   padding: 0 15px;
}

.unlisted-list a {

    color: #fff;
        text-decoration: none;
}

.unlisted-list span {

    color: #fff;
    
}

.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.py-10 {
    padding: 10px 0;
}

.text-center {
    text-align: center;
}